@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: IRANYekan;
  src: url("./assets/font/IRANYekanWebMedium.eot") format("eot"),
    url("./assets/font/IRANYekanWebBlack.eot") format("eot"),
    url("./assets/font/IRANYekanWebBold.eot") format("eot"),
    url("./assets/font/IRANYekanWebExtraBlack.eot") format("eot"),
    url("./assets/font/IRANYekanWebExtraBold.eot") format("eot"),
    url("./assets/font/IRANYekanWebLight.eot") format("eot"),
    url("./assets/font/IRANYekanWebRegular.eot") format("eot"),
    url("./assets/font/IRANYekanWebThin.eot") format("eot"),
    url("./assets/font/IRANYekanWebMedium.woff") format("woff"),
    url("./assets/font/IRANYekanWebBlack.woff") format("woff"),
    url("./assets/font/IRANYekanWebBold.woff") format("woff"),
    url("./assets/font/IRANYekanWebExtraBlack.woff") format("woff"),
    url("./assets/font/IRANYekanWebExtraBold.woff") format("woff"),
    url("./assets/font/IRANYekanWebLight.woff") format("woff"),
    url("./assets/font/IRANYekanWebRegular.woff") format("woff"),
    url("./assets/font/IRANYekanWebThin.woff") format("woff"),
    url("./assets/font/IRANYekanWebMedium.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebBlack.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebBold.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebExtraBlack.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebExtraBold.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebLight.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebRegular.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebThin.woff2") format("woff2"),
  }
}

/* @font-face {
  font-family: IRANYekan;
  src: url("./assets/font/IRANYekanWebMedium.eot") format("eot"),
    url("./assets/font/IRANYekanWebBlack.eot") format("eot"),
    url("./assets/font/IRANYekanWebBold.eot") format("eot"),
    url("./assets/font/IRANYekanWebExtraBlack.eot") format("eot"),
    url("./assets/font/IRANYekanWebExtraBold.eot") format("eot"),
    url("./assets/font/IRANYekanWebLight.eot") format("eot"),
    url("./assets/font/IRANYekanWebRegular.eot") format("eot"),
    url("./assets/font/IRANYekanWebThin.eot") format("eot"),
    url("./assets/font/IRANYekanWebMedium.woff") format("woff"),
    url("./assets/font/IRANYekanWebBlack.woff") format("woff"),
    url("./assets/font/IRANYekanWebBold.woff") format("woff"),
    url("./assets/font/IRANYekanWebExtraBlack.woff") format("woff"),
    url("./assets/font/IRANYekanWebExtraBold.woff") format("woff"),
    url("./assets/font/IRANYekanWebLight.woff") format("woff"),
    url("./assets/font/IRANYekanWebRegular.woff") format("woff"),
    url("./assets/font/IRANYekanWebThin.woff") format("woff"),
    url("./assets/font/IRANYekanWebMedium.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebBlack.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebBold.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebExtraBlack.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebExtraBold.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebLight.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebRegular.woff2") format("woff2"),
    url("./assets/font/IRANYekanWebThin.woff2") format("woff2"),
}
*/
*,
body {
  font-family: IRANYekan;
} 

:root {
  --primary-color: #0098ff;
  --secondary-color: #0063ff;
  --thirdly-color: #fdfdfd;
  --fourthly-color: #1b262c;
}

.linkContainer:hover .icons {
  padding: 12px 0;
  border-bottom: 2px solid #ffff;
  border-radius: 1px;
}

.linkContainer:focus .icons {
  padding: 12px 0;
  border-bottom: 2px solid #ffff;
  border-radius: 1px;
}

.custom-gradient {
  background: linear-gradient(
    265.63deg,
    rgba(255, 255, 255, 0.1) -12.06%,
    rgba(255, 255, 255, 0) 111.31%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.swiper-button-next {
  background-image: url(./assets/svg/LeftSliderArrow.svg);
  background-repeat: no-repeat;
  background-size: 7px;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(./assets/svg/RightSliderArrow.svg);
  background-repeat: no-repeat;
  background-size: 7px;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.leaflet-container {
  width: 526px;
  height: 324px;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);
}